<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>

<img th:src="@{/images/TacoCloud.png}" width="400"/>

<form method="POST" th:action="@{/register}">
    Username: <input type="text" name="username"/><br/>
    Password: <input type="password" name="password"/><br/>
    Confirm password: <input type="password" name="confirm"/><br/>
    Full name: <input type="text" name="fullname"/><br/>
    Street: <input type="text" name="street"/><br/>
    City: <input type="text" name="city"/><br/>
    State: <input type="text" name="state"/><br/>
    Zip: <input type="text" name="zip"/><br/>
    Phone: <input type="text" name="phone"/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>